# Cache data
__pycache__
.pytest_cache
.coverage
.coverage.*
htmlcov

# Logs
logs/*
*.log
!logs/.gitkeep

# Data files
*.csv
*.duckdb*

# Secrets and variables
.env
config/*
.secrets
*.pid

# DBT compiled files
dbt/*/target
dbt/*/dbt_modules
dbt/*/dbt_packages