# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg
dist/
build/
*.so
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# dbt
dbt_packages/
target/
logs/

# Sphinx
docs/_build/
docs/dbt.html

.env
.secrets/*.json
.secrets/secrets.toml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test artifacts
*.xml
*.duckdb
*.duckdb.wal

# dbt
dbt/.user.yml