# Cache data
__pycache__
.pytest_cache
.coverage*

# Logs
logs/*
*.log
!logs/.gitkeep

# Data files
*.csv

# Secrets and variables
.env
config/*
*.pid

# DBT compiled files
dbt/*/target
dbt/*/dbt_modules
dbt/*/dbt_packages