[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlt = {extras = ["bigquery", "parquet", "duckdb"], version = ">=1.15"}
google-cloud-bigquery-storage = "*"
google-cloud-secret-manager = "*"
google-api-python-client = "*"
psutil = "*"
dbt-duckdb = "*"

[dev-packages]
pytest-cov = "*"
pytest-mock = "*"
pre-commit = "*"
responses = "*"
sqlfluff = "*"
sqlfluff-templater-dbt = "*"
black = "*"
dbt-bigquery = "*"
marimo = "*"

[requires]
python_version = "3.12"
